* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.calculator {
    height: 650px;
    width: 350px;
}

.display {
    background: lightskyblue;
    height: 30%;
}

.keypad {
    background: lightseagreen;
    height: 70%;
}